.xy-person-select-option {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1;
}
.xy-person-select-option-selected {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  height: 30px;
  vertical-align: top;
}
.xy-person-select-option-selected .xy-avatar {
  flex-shrink: 0;
  margin-block: 0;
}
.xy-person-select-option-selected .xy-person-select-option-name {
  line-height: 20px;
}
.xy-person-select-option-name {
  color: rgba(0, 0, 0, 0.88);
}
.xy-person-select-option-id {
  margin-left: auto;
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
}
.xy-person-select-tag {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  margin-inline-end: 4px;
  padding-inline: 6px 4px;
  line-height: 22px;
}
[data-theme='dark'] .xy-person-select-option-id {
  color: rgba(255, 255, 255, 0.45);
}
[data-theme='dark'] .xy-person-select-option-name {
  color: rgba(255, 255, 255, 0.85);
}
